# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sln
*.suo
*.csproj

# Useless folders
OculusRift_Tutoring/Library
OculusRift_Tutoring/Temp
OculusRift_Tutoring/obj

# Useless files
OculusRift_Tutoring/ProjectSettings/ProjectVersion.txt
